{% load static %}


<!DOCTYPE html>
<html>
	<head>
		<title> Vasile-Daniel DAN</title>	
		<link href = "{% static '/css/main.css'%}" rel = "stylesheet" type =  "text/css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	</head>



	<body style="background-color:powderblue;">
		<br>
		<div class="container">

			<div class = "row">

				<div class = "col-md-3">
					<div class="card card-body h-100 border-info" id = "profile-wrapper">
						<img id = "profile-pic" src =  "{% static 'images/photocat2.jpg'%}">
						<hr>
						<h4> Hi! I am Dan </h4>
						<p> I love math, coding, engineering,  doing research and collaborating</p>
					</div>
				</div>

				<div class = "col-md -9">
					<div class="card card-body h-100 border-info">
						<h4>About me</h4>

						<p> I am an efficient multidisciplinary professional with proven multiple years of extensive experience in research, conceptual, front end engineering design, detailed engineering for electrical and energy sectors. <p> 

						<p>I am an effective communicator with excellent relationship building & interpersonal skills. I am strong analytical and problem-solving abilities. Possess a flexible & detail-oriented attitude. </p>

						<p> I am able to work independently and smartly under multiple tasks and assignments. I am author and co-author of international publications.   </p>
	

						<ul class = "social-links">
							<li> <img class = "social" src="{% static 'images/face_social.webp'%}"></li>
							<li> <img class = "social" src="{% static 'images/linkedin.png'%}"></li>
						</ul>
						
					</div>
				</div>
			</div>
		<br>
			<div class = "row">
				<div class = "col-md-6">
					<div class="card card-body h-100" id = "cariera">
						<h5 style="font-size:20px">CAREER HISTORY</h5>
						<hr>
						<p> September 2020-Present: Volunteer at Tap into IT where you are Ltd, Edinburgh (UK) </p>
						<p>  <mark> September 2019 - November 2019 </mark>: Principal Electrical Engineer – Parasol Ltd, Edinburgh, (UK) </p>

						<hr>

						<p> July 2018 – August 2019: Senior Electrical Engineer - Faraday Grid Ltd., Edinburgh (United Kingdom) </p>

						<hr>

						<p> June 2011 – April 2016: Research Scientist - National R&D Institute for Electrical Engineering ICPE-CA Bucharest (INCDIE ICPE-CA), Bucharest (Romania) </p>

						<hr>

						<p> October 2009/2011 – January 2016:  Research Assistant Professor / PhD Student – Politehnica University of Bucharest – Faculty of Electrical Engineering – Numerical Modelling Laboratory (LMN) </p>
						
						
					</div>
				</div>
				<div class = "col - md - 6">
					<div class="card card-body h-100" id = "educatia">
						<h5 style="font-size:20px"> EDUCATION </h5>
						<hr>
						<p class = paragraph> <mark> Ph.D in Electrical Engineering </mark>, Faculty of Electrical Engineering (ELTH), Politehnica University of Bucharest (UPB), 2011– 2016. </p>

						<p class = subparagraph>Thesis Title : Analysis, characterization and optimization of magnets for particle accelerators</p>

						<hr>

						<p class = paragraph>MSc in Electrical Engineering, ELTH, UPB, 2009 – 2011 </p>

						<p class = subparagraph> Programme of study: “Nano- and micro- electromagnetic systems” </p>

    					<p class = subparagraph>Thesis Title: Modeling of the magnetisation process based on the Landau - Lifshitz – Gilbert equation </p>

    					<hr>

						<p class = paracraph>B.S. in Mathematics and Informatics applied to engineering, Faculty of Applied Sciences, UPB, 2005 – 2009. </p>

   						<p class = subparagraph>Programme of study: “Mathematics and Applied Informatics in Engineering”</p>
					</div>
				</div>
			</div>
		<br>
			<div class = "row">
				<div class = "col - md - 6">
					<div class="card card-body h-100" id = "calculator">
						<h5 style="font-size:20px"> Computer and Foreign Languages Training Courses</h5>
						<hr>

						<p>Python Programming – Associate Course, face to face training course, IT Professional Training (ITPT), 62 West Harbour Road, Granton, Edinburgh, EH5 1PW, September 2020. </p>

						<hr>

						<p>Java Programming Level 1 - Associate course - face to face training course, IT Professional Training (ITPT),  62 West Harbour Road, Granton, Edinburgh, EH5 1PW, August 2020</p>

						<hr>

						<p>Deutsches Sprachkurs b2, Harnackschule, Motzstraße 5, 10777 Berlin (Schöneberg) Berlin, Germany, -2017-2018, </p>

						<hr>

						<p>Deutsches Sprachkurs b1, VHS Berlin, Berlin, Germany, 2016 -2017, VHS telc b1 Sprachzertifikat </p>
						
					</div>
				</div>
				<div class = "col - md - 6">
					<div class="card card-body h-100" id = "publicatii">
						<h5 style="font-size:20px"> Selected Scientific Publications </h5>
						<hr>
						
						<p> D. Dan, E.S. Apostol, . "Numerical modelling and theoretical characterisation of experimental procedures of hexapole magnets for particle accelerators", ATEE 2019, 28- 30 March 2019, Bucharest, Romania. DOI: 10.1109/ATEE.2019.8724959, Pages: 1 -6. </p>


    					<p> D. Dan, T. Nicolae, E.S. Apostol, I. Chirita, . ”An Overview Regarding the Analytical vs. Numerical Computation for a PMB used for FESS”, ATEE 2017, 23-25 March 2017, Bucharest, Romania. 978-1-5090-5160-1/17/$31.00 2017 IEEE, Pages: 458 - 462. </p>

    					
    					<p> D. Dan, I. Chirit¸a, N. Tanase, S. Malureanu, ”Analysis, Characterization And Optimization Of a Steerer Magnet Prototype”, ATEE2015, 7-9 MAY, Bucharest, Romania. 978-1-4799-7514-3/15/$31.00 2015 IEEE, Pages: 362 - 367, DOI: 10.1109/ATEE.2015.7133847 </p>
    					
    				 
    					<p> D. Dan, D. Ioan. ”Experimental characterization of electromagnets for particle accelerators”, ATEE2013, 12 - 14 MAY 2013, Bucharest, Romania. 978-1-4799-7514-3/15/$31.0 2013 IEEE, Pages: 1 - 6, DOI: 10.1109/ATEE.2013.6563445 </p> 
    					
    				<!--
    					<p> D. Dan, S.Malureanu. ”Modeling of the magnetisation process based on the Landau - Lifshitz – Gilbert equation”, ATEE 2011, 12-14MAY 2011, Bucharest, Romania. 978-1-4799-7514-3/15/$31.00  2011 IEEE, Pages: 1 - 4, DOI: 10.1109/ATEE.2011.5453495 </p>
    					
    					<p> I. Chirita, D. Dan, N. Tanase. ”Magnetic And Mechanical Optimization Of a Sextupole Magnet Prototype”, ATEE2015, 7-9 MAY, Bucharest, Romania. 978-1-4799-7514-3/15/$31.00 ⃝c 2015 IEEE, Pages: 368 - 373, DOI: 10.1109/ATEE.2015.7133848 </p>
    					
    					<p> Chirita Ionel, Dan Vasile-Daniel, Tanase Nicolae. ”Magnetic field distribution inside the aperture of a steerer magnet prototype”, 26 November 2015, Physica Scripta, Volume 2015, Number T166, Impact Factor = 1.296, article reference: physscr-102286. </p> 
    				-->
						
					</div>
				</div>
			</div>
		<br>
		</div>

	</body>



</html>